
@{
    ViewBag.Title = "Weekly";
}

<div class="container-fluid">

    <div class="panel panel-primary">
        <div class="panel-heading">Prayer Requests</div>

        <div class="panel-body">
            <div id="accordion" role="tablist" aria-multiselectable="true">
                @foreach (var Prayer in Model)
            {
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#@Prayer.FeedbackEntryID" aria-expanded="false" aria-controls="collapseTwo">
                                    @Prayer.DisplayName
                                </a>
                            </h5>
                        </div>
                        <div id="@Prayer.FeedbackEntryID" class="collapse" role="tabpanel">
                            <div class="card-block">
                                <div>Email: <a href="mailto:@Prayer.EmailAddress">@Prayer.EmailAddress</a></div>
                                <div>Mobile Phone: @Prayer.MobilePhone</div>
                                <div>Home Phone: @Prayer.HomePhone</div><br />
                                <div>Membership: @Prayer.MembershipStatus</div>
                                <div>Parish: @Prayer.ParishName</div>
                                <div>Shepherd: @Prayer.Shepherd</div><br />
                                <div class="text-muted">@Prayer.Description</div>

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

